In [1]:
import pandas as pd
import numpy as np

In [7]:
airbnb = pd.read_csv(r"C:\Users\jiaro\.vscode\happiness-regression\airbnb_hw.csv")

airbnb.head()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

## EDA

In [8]:
airbnb = airbnb.dropna(axis=0, how='any')

In [9]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22010 entries, 4 to 30409
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Host Id                     22010 non-null  int64
 1   Host Since                  22010 non-null  object
 2   Name                        22010 non-null  object
 3   Neighbourhood               22010 non-null  object
 4   Property Type               22010 non-null  object
 5   Review Scores Rating (bin)  22010 non-null  float64
 6   Room Type                   22010 non-null  object
 7   Zipcode                     22010 non-null  float64
 8   Beds                        22010 non-null  float64
 9   Number of Records           22010 non-null  int64
 10  Number Of Reviews           22010 non-null  int64
 11  Price                       22010 non-null  object
 12  Review Scores Rating        22010 non-null  float64
dtypes: float64(4), int64(3), object(6)
memory usage: 2.4+ MB